html {
  margin: 0;
}
body {

}
@font-face {
	font-family: "BloombergBold";
	src: url('Charter Regular.ttf');
}
@font-face {
	font-family: "BloombergRoman";
	src: url('Charter Regular.ttf');
}

h1 {
  margin-bottom: 2px;
  width: 100%;
  font-family: "BloombergBold";
  font-size: 40px;
  text-align: center;
}

h3 {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;
  font-family: "BloombergBold";
  font-size: 20px;
  text-align: center;
}


.warning {
  font-family: "BloombergBold";
  font-size: 15px;
  left: 350px;
  text-align: center;
  margin-bottom: 3px;
}

text.title {
  font-family: "BloombergBold";
  font-size: 40px;
  text-align: center;
}

.tooltip {
  font-family: "BloombergBold";
}
